body {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  background-color: #212832;
  padding: 5px 9px 15px 9px;
}
.logo {
  width: 50px;
  margin-bottom: 1em;
}
a {
  color: #fed36a;
}
button {
  background-color: #fed36a;
  color: #1a1a1a;
  padding: 1em;
  font-weight: bold;
}
p {
  font-size: xx-large;
  font-weight: bolder;
  color: #ffffff;
}

/*                                 Login Page */
.login-container {
  margin: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
}
.login-logo {
  width: 130px;
  align-self: center;
}
form {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
}
form > input {
  min-height: 3em;
  min-width: 19rem;
  margin-bottom: 5px;
  margin-top: 5px;
  /* background-color: #1a1a1a; */
  border: none;
}
form > h6 {
  align-self: flex-end;
  color: #8b8585;
}
button {
  border: none;
}
.login,
.google {
  font-weight: bolder;
  font-size: medium;
  border-radius: 4px;
}
section {
  display: flex;
}
section > p {
  font-size: medium;
  padding-right: 13px;
  padding-left: 13px;
}
hr {
  width: 90px;
  height: 0;
  align-self: center;
}

.google {
  background-color: #212832;
  border: 2px solid white;
  color: white;
}
main > div > p {
  /* color: ; */
  font-size: small;
  align-self: center;
}
a {
  text-decoration: none;
}
