body {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  background-color: #212832;
  padding: 5px 9px 15px 9px;
  min-width: 350px;
}
.logo {
  width: 50px;
  margin-bottom: 1em;
}
a {
  color: #fed36a;
}
a:hover {
  text-decoration: underline;
}
button {
  background-color: #fed36a;
  color: #1a1a1a;
  padding: 1em;
  font-weight: bold;
}
p {
  /* font-size: xx-large;
  font-weight: bolder; */
  color: #ffffff;
}

/*                                 Login Page */
.login-container > h2 {
  color: #ffffff;
}
.login-container {
  margin: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.login-logo {
  width: 130px;
  align-self: center;
}
form {
  display: flex;
  flex-direction: column;
  color: #8caab9;
}
form > input {
  min-height: 3em;
  min-width: 19rem;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 10px;
  background-color: #455a64;
  border: none;
  color: #ffffff;
}
input::placeholder {
  color: #ffffff;
}
form > span {
  align-self: flex-end;
  margin: 0 0 30px 0;
  font-size: small;
  font-weight: 600;
}
button {
  border: none;
  border-radius: 10px;
  text-decoration: none;
}
.login,
.google {
  font-weight: bolder;
  font-size: medium;
  border-radius: 4px;
}
.links {
  display: flex;
  flex-direction: column;
}
.start:hover,
.login:hover {
  background-color: rgb(19, 148, 77);
  color: #ffffff;
}
section {
  display: flex;
}
section > p {
  font-size: medium;
  padding-right: 13px;
  padding-left: 13px;
  color: #8caab9;
}
hr {
  width: 90px;
  height: 0;
  align-self: center;
  border: 0.1px solid #8caab9;
}
.google {
  background-color: #212832;
  border: 2px solid white;
  color: #ffffff;
}
main > div > p {
  color: #8caab9;
  font-size: small;
  align-self: center;
}
a {
  text-decoration: none;
}

/*                                              Signup Page */

/*                                                 homepage */
.profile,
.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile-pic {
  height: 70px;
  color: rgb(83, 236, 91);
}
ul {
  list-style-type: none;
  padding-left: 0;
}
h2 {
  color: #ffffff;
}
li {
  background-color: #0a4664;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 4px;
}
.checkboxSelection {
  display: flex;
  gap: 5px;
  margin-top: -25px;
}

/*                                                 TasksForm */
dialog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
dialog > h2 {
  color: #0a4664;
}
.dialogbtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
