body {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  background-color: #212832;
  padding: 5px 9px 15px 9px;
}
.logo {
  width: 50px;
  margin-bottom: 1em;
}
a {
  color: #fed36a;
}
button {
  background-color: #fed36a;
  color: #1a1a1a;
  padding: 1em;
  font-weight: bold;
}
p {
  font-size: xx-large;
  font-weight: bolder;
  color: #ffffff;
}
