body{
    background-color: bisque;
}
#favDialog{
    background-image: linear-gradient(
        45deg,
        magenta,
        rebeccapurple,
        dodgerblue,
        green
    );
    opacity: 0.8;
}
#container{
    display: grid;
    margin: 10px 100px 0 100px;
    background-color: aquamarine;
    align-self: center;
    

}
#list{
    grid-column: 1 /2;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
#display{
    grid-column: 2 / 9;
    text-align: center;
}
img{
    height: 30px;
    width: 30px;
    border-radius: 30%;
}

a{
text-decoration: none;
color: bisque;
font-weight: 900;
font-size: x-large;
font-style: oblique;
font-family: sans-serif;
text-align-last: left;

}
li{
    display: flex;
   gap: 10px;
    text-decoration-style: none;
    list-style-type: none;  
    height: 50px;
    align-items: center;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
li:hover{
    background-color: cadetblue;
}
h1,form{
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

h1{
   /* text-decoration: underline;
    justify-content: center;
    font-weight: 900;
    font-size: xx-large;
    font-style: oblique;
    font-family: sans-serif;*/
}
h3{
    /*text-decoration: underline;*/

}
.lists{
    display: flex;
    justify-content: space-between;
    padding: 50px;
   
}
/*.submit:hover{
background-color: black;
color: bisque;
}
.radios{
    padding-left: 20px;
    margin: 10px;
    
}*/
